<div class="row message mt-1">
  <div class="col-2 fw-bold text-info text-center">
    <%= message.user.nickname %>
  </div>

  <div class="col-9">
    <div class="text-break"><%= message.body %></div>
  </div>

  <div class="col-1">
    <div class="text-dark bg-light rounded">
      <%= message.created_at.strftime("%H:%M") %>
    </div>
  </div>
</div>
